# Copia questo file in .env. Valori senza virgolette, spazi intorno a = o espansioni shell.
COINGECKO_API_KEY=
SCAN_INTERVAL_SECONDS=3600
# RADAR_DATA_DIR=/Users/tuo-nome/Library/Application Support/AnalisiInv
